.progressbar {
  margin: auto;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.appmain {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

ul {
  text-align: left;
  width: 400px;
  border: 1px solid grey;
  margin: auto;
  user-select: none;
}

input {
  height: 20px;
  width: 300px;
}

h1 {
  user-select: none;
  text-decoration: underline;
  color: blue;
}
